---
layout: base.njk
title: About
permalink: "/about/"
---

<div class="about">
    <h2 style="text-align: center">about</h2>
    
    <div class="content">
        <p>St. Silva is the electronic musical project of <a href="https://bdextercooley.com/">Ben Dexter Cooley</a>. The work spans multiple genres and embraces experimentation, drawing on influences from ambient music, neoclassical, melodic house, and environmental music.</p>

        <p>You can find St. Silva on <a href="https://instagram.com/st.silva.music">Instagram</a>. For collaborations and booking, please email bendextermusic at gmail dot com.</p>
    </div>
</div>