---
layout: base.njk
title: Home
---
<div>
  <br>
  <img src="assets/forager-cover-small.png" alt="Forager cover image" style="width: 100%; max-width: 400px; display: block; margin: 0 auto;">
  <p style="text-align: center;">New album <i>Forager</i> out on July 17 via <a href="https://akprecordings.com/">AKP Recordings</a>. Listen to the first single <a href="https://orcd.co/silvacatbird">here</a>.</p>
</div>

<h2 style="text-align: center">notes</h2>
<br>
<div class="posts">
  {% for post in collections.posts %}
    <article class="post-preview">
        <a href="{{ post.url }}">{{ post.data.title }}</a> - 
      <time datetime="{{ post.date }}">{{ post.date | dateToString }}</time>
      {% if post.data.subtitle %}
        <p style="margin-top: 4px">{{ post.data.subtitle }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div>