---
layout: default
---

<div class="page-subtitle">
    {% if page.date %}
        <p style="font-size: 14px; font-style: italics">Posted on {{page.date}}</p>
    {% endif %}
    {% for tag in page.tags %}
        {% if page.tags.first == tag %}
            <b>[</b>
        {% endif %}
        <a href="{{ site.posturl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% if page.tags.last == tag %}
            <b>]</b>
        {% else %}
            ,
        {% endif %}
    {% endfor %}
</div>

{{content}}
